/* PÁGINA INSTITUCIONAL */
.pg-institucional{

}
	.pg-institucional .titulo-institucional{
    	font-size: 77px;
	}
	.pg-institucional .conteudo{

	}
		.pg-institucional .conteudo p{
			color: var(--cinza-letras);
			font-size: 18px;
			margin: 20px auto;
		}

/* MEDIA QUERY */
  @media(max-width: 1200px){
  	.pg-institucional .conteudo {
  		padding: 0 15px;
  	}
  }

  @media(max-width: 991px){

  }

  @media(max-width: 840px){
  	.pg-institucional .conteudo p {
  		font-size: 16px;
  	}
  	.pg-institucional .titulo-institucional {
  		font-size: 65px;
  	}
  	.pg-institucional .conteudo {
  		padding: 0 20px;
  	}
  }

  @media(max-width: 768px){}

  @media(max-width: 425px){
  	.pg-institucional .conteudo p {
  		font-size: 14px;
  	}
  	.pg-institucional .titulo-institucional {
  		font-size: 42px;
  	}
  }

  @media(max-width: 320px){}
