/* PÁGINA QUEM SOMOS */
.pg-quem-somos{
	
}
	.pg-quem-somos .quem-somos{
		
	}
		.pg-quem-somos .quem-somos .titulo-institucional{
			
		}
		.pg-quem-somos .quem-somos .desc-sobre{
			color: var(--cinza-letras);
			font-size: 22px;
			width: 100%;
			text-align: center;
			margin: 15px auto 30px;
			padding: 0 248px;
		}
		.pg-quem-somos .quem-somos .banner{
			text-align: center;
			padding: 0 20px;
		}
			.pg-quem-somos .quem-somos .banner img{
				display: inline-block;
				width: 100%;
				max-width: 880px;
			}
		.pg-quem-somos .quem-somos .sobre{
			width: 100%;
			max-width: 1020px;
			margin: 100px auto 40px;
			position: relative;
			padding: 0 20px;
		}
			.pg-quem-somos .quem-somos .sobre .frase-destaque{
				width: 100%;
				max-width: 516px;
				padding: 5px 8px;
				text-align: right;
			}
				.pg-quem-somos .quem-somos .sobre .frase-destaque p{
					font-size: 114px;
					text-transform: uppercase;
					font-family: americanCapitain;
					color: var(--roxo);
					line-height: 100px;
					position: relative;
				}
				.pg-quem-somos .quem-somos .sobre .frase-destaque p::before{
					content: '';
					position: absolute;
					display: inline-block;
					top: -5px;
					left: -29px;
					width: 100%;
					height: 110%;
					background-color: var(--laranja);
					z-index: -1;
					-webkit-transform: skewX(-11deg);
					-moz-transform: skewX(-11deg);
					-ms-transform: skewX(-11deg);
					-o-transform: skewX(-11deg);
					transform: skewX(-11deg);
					
				}
			.pg-quem-somos .quem-somos .sobre .aqui-voce-encontra{
				display: inline-block;
				position: relative;
				z-index: 1;
			}
			.pg-quem-somos .quem-somos .sobre .atributos{
				margin: 30px 0 0 auto;
				display: inline-block;
				vertical-align: top;
				position: absolute;
				top: 50%;
				right: 25px;
				padding: 5px 35px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				text-align: left;
				max-width: 490px;
			}
				.pg-quem-somos .quem-somos .sobre .atributos p{
					color: var(--laranja);
					line-height: 120px;
				}
				.pg-quem-somos .quem-somos .sobre .atributos p::before{
					background-color: var(--roxo);
					-webkit-transform: skewX(6deg);
					-moz-transform: skewX(6deg);
					-ms-transform: skewX(6deg);
					-o-transform: skewX(6deg);
					transform: skewX(6deg);
					height: 105.5%;
					left: 72px;
				}
			.pg-quem-somos .quem-somos .sobre .vem-pra-century{
				display: block;
				margin: 100px auto 0 131px;
				position: relative;
				max-width: 385px;
				z-index: 1;
			}
	.pg-quem-somos .secao-mapa{
		
	}
		.pg-quem-somos .secao-mapa .maps{
			
		}
		@media(max-width: 991px){
			.pg-quem-somos .quem-somos .sobre .atributos{
				position: initial;
				-webkit-transform: initial;
				-moz-transform: initial;
				-ms-transform: initial;
				-o-transform: initial;
				transform: initial;

			}
			.pg-quem-somos .quem-somos .sobre .frase-destaque p{
				font-size: 37px;
			}
			.pg-quem-somos .quem-somos .sobre .frase-destaque p::before {
			    position: initial;
			    top: initial;
			    left: initial;
			}
			.pg-quem-somos .quem-somos .sobre .vem-pra-century{
			    margin: 20px auto;
			}
			.pg-quem-somos .quem-somos .sobre .frase-destaque p{
				text-align: center;
				line-height:initial;
			}
			.pg-quem-somos .quem-somos .sobre .atributos p{
				line-height:initial;
			}
			.pg-quem-somos .quem-somos .sobre .vem-pra-century{
				max-width: 100%;
			}
		}