/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

*/

/* PÁGINA INICIAL */
  @import url("pg-inicial.css");

/* PÁGINA QUEM SOMOS */
  @import url("pg-quem-somos.css");

/* PÁGINA DE PRODUTO */
  @import url("pg-produto.css");

/* PÁGINA DE CATEGORIAS */
  @import url("pg-categorias.css");

/* PÁGINA DE CONTATO */
  @import url("pg-contato.css");

/* PÁGINA DE PERGUNTAS FREQUENTES */
  @import url("pg-perguntas-frequentes.css");

/* PÁGINA INSTITUCIONAL */
  @import url("pg-institucional.css");

/* SIDEBARS */
  @import url("sidebar.css");

/* IMPORTAÇÃO DE FONTES*/
  @font-face {
    font-family: americanCapitain;
    src: url('fonts/americanCapitain/americanCapitain.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: helvetica;
    src: url('fonts/helvetica/helvetica.otf');
    font-style: normal;
    font-weight: normal;
  }

:root{
  --roxo: #6a346a;
  --laranja: #f18637;
  --cinza: #c6c6c6;
  --cinza-letras: #b9b9b9;
  --cinza-escuro: #8a8a8a;
}

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none !important;
  outline: none !important;
}

li{
  list-style: none !important;
}

/* BODY */
  body{
    font-family: Arial, sans-serif;
  }

/* HEADER */
  header{
    -webkit-box-shadow: 0 0px 5px 1px rgb(128, 128, 128);
    box-shadow: 0 0px 5px 1px rgb(128, 128, 128);
    position: relative;
  }
    header .menu-topo{
      background-color: var(--cinza-escuro);
      padding: 2px 0 3px;
    }
      header .menu-topo .info-contato{

      }
        header .menu-topo .info-contato p{
          display: inline-block;
          margin: 0;
          font-size: 12px;
          padding-right: 24px;
          color: #fff;
        }
        header .menu-topo .info-contato p.compre-no-site{
          text-transform: uppercase;
          letter-spacing: .5px;
          padding-left: 20px;
        }
          header .menu-topo .info-contato p a{
            color: #fff;
          }
            header .menu-topo .info-contato p a strong{

            }
      header .menu-topo .help-menu{
        text-align: right;
      }
        header .menu-topo .help-menu a{
          color: #fff;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: bold;
          padding-left: 12px;
        }
    header .main-menu{
      background: rgba(255,255,255,1);
      background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 56%, rgba(106,52,106,1) 57%, rgba(106,52,106,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(56%, rgba(255,255,255,1)), color-stop(57%, rgba(106,52,106,1)), color-stop(100%, rgba(106,52,106,1)));
      background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 56%, rgba(106,52,106,1) 57%, rgba(106,52,106,1) 100%);
      background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 56%, rgba(106,52,106,1) 57%, rgba(106,52,106,1) 100%);
      background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 56%, rgba(106,52,106,1) 57%, rgba(106,52,106,1) 100%);
      background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 56%, rgba(106,52,106,1) 57%, rgba(106,52,106,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6a346a', GradientType=1 );
    }
      header .openaMenuMobileBtn{
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 30px;
        color: #6f366e;
        cursor: pointer;
        display: none;
      }
      header .main-menu .col-md-7{
       position: initial;
      }
      header .main-menu a{
        display: block;
        height: 100%;
        width: 100%;
        background-color: #fff;
        /* padding: 15px 10px 14px 70px; */
        padding: 12px 0;
      }
        header .main-menu a img{
          width: 100%;
          /* margin: 0 auto; */
          max-width: 222px;
          display: inline-block;
          padding-right: 8px;
        }
      header .main-menu .navbar{
        border: none;
        margin: 0;
        min-height: 0;
        border-radius: 0;
        /*padding: 9px 0;*/
        position: initial;
      }
        header .main-menu .navbar button{
          display: none;
        }
          header .main-menu .navbar button .sr-only{

          }
          header .main-menu .navbar button .icon-bar{

          }
        header .main-menu .navbar .navbar-collapse{

        }
          header .main-menu .navbar .navbar-collapse .navbar-nav{
            padding-left: 10px;
            -webkit-transition: ease-in-out .2s;
            -moz-transition: ease-in-out .2s;
            -ms-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
          }
            header .main-menu .navbar .navbar-collapse .navbar-nav li{

            }
              header .main-menu .navbar .navbar-collapse .navbar-nav li a{
                padding: 25px 10px;
                line-height: initial;
                color: #fff;
                background-color: transparent;
                font-size: 11px;
                font-weight: bold;
                text-transform: uppercase;
                -webkit-transition: ease-in-out .1s;
                -moz-transition: ease-in-out .1s;
                -ms-transition: ease-in-out .1s;
                -o-transition: ease-in-out .1s;
                transition: ease-in-out .1s;
              }
              header .main-menu .navbar .navbar-collapse .navbar-nav li a:hover{
                background-color: #fff;
                color: var(--roxo);
              }
              header .main-menu .navbar .navbar-collapse .navbar-nav li .nav-submenu{
                width: 100%;
                display: none;
                top: 87px;
                z-index: 9;
                background: #6a346a;
                left: 0;
                border-top: solid 1px #fff;
                max-width: 1055px;
                /* margin: 0 auto; */
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
              }
                header .main-menu .navbar .navbar-collapse .navbar-nav>li:nth-child(2):before{
                  content: "";
                  display: block;
                  width: 100%;
                  height: 100vh;
                  background: hsla(0, 0%, 0%, 0.5);
                  position: absolute;
                  left: 0;
                  top: 87px;
                  z-index: 1;
                  display: none;
                }
                header .main-menu .navbar .navbar-collapse .navbar-nav>li:nth-child(4):before{
                  content: "";
                  display: block;
                  width: 100%;
                  height: 100vh;
                  background: hsla(0, 0%, 0%, 0.5);
                  position: absolute;
                  left: 0;
                  top: 87px;
                  z-index: 1;
                  display: none;
                }
                  header .main-menu .navbar .navbar-collapse .navbar-nav li:hover:before{
                    display: block;
                  }
                header .main-menu .navbar .navbar-collapse .navbar-nav li:hover .nav-submenu{
                  display: block;
                }
                header .main-menu .navbar .navbar-collapse .navbar-nav li .nav-submenu .submenu{
                  max-width: 1030px;
                  margin: 0 auto;
                }
                  header .main-menu .navbar .navbar-collapse .navbar-nav li .nav-submenu .submenu .li-submenu{
                    display: inline-block;
                    min-width: 145px;
                  }
                    header .main-menu .navbar .navbar-collapse .navbar-nav li .nav-submenu .submenu .li-submenu a{

                    }
              .nav>li{
                position: initial;
              }
              .nav>li>a:hover, .nav>li>a:focus {
                background-color: transparent;
              }
      header .main-menu .nav-right{
        color: #fff;
        padding: 10px 0;
        width: 100%;
        /*max-width: 300px;*/
        margin: 0 0px auto 0;
        text-align: right;
      }
      .menuOptionMobile{
        display: none;
      }
        header .main-menu .nav-right .icons{
          display: inline-block;
          vertical-align: middle;
          padding: 0 5px;
        }
          header .main-menu .nav-right .icons a{
            color: #fff;
            font-size: 22px;
          }
        header .main-menu .nav-right .search{
          position: relative;
        }
          header .main-menu .nav-right .search form{

          }
            header .main-menu .nav-right .search form .search-icon{
              font-size: 22px;
              position: relative;
              z-index: 1;
              cursor: pointer;
              -webkit-transition: ease-in-out .1s;
              -moz-transition: ease-in-out .1s;
              -ms-transition: ease-in-out .1s;
              -o-transition: ease-in-out .1s;
              transition: ease-in-out .1s;
            }
            header .main-menu .nav-right .search form .search-icon.esconderIcone{
             opacity: 0;
              -webkit-transition: ease-in-out .1s;
              -moz-transition: ease-in-out .1s;
              -ms-transition: ease-in-out .1s;
              -o-transition: ease-in-out .1s;
              transition: ease-in-out .1s;
            }
            header .main-menu .nav-right .search form .search-bar{
              position: absolute;
              top: -4px;
              right: -5px;
              display: block;
              width: 100%;
              min-width: 760px;
              width: 0;
              min-width: 0;
              -webkit-transition: ease-in-out .2s;
              -moz-transition: ease-in-out .2s;
              -ms-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
              transition: ease-in-out .2s;
              
            }
              header .main-menu .nav-right .search form .search-bar.openSearch{
                width: 760px;
                min-width: 100%;
              }
              header .main-menu .nav-right .search form .search-bar .search-icon-bar{

              }
              header .main-menu .nav-right .search form .search-bar input[type="text"]{
                display: inline-block;
                width: 100%;
                padding: 10px 14px 10px 25px;
                border-radius: 20px;
                border: none;
                outline: none;
                color: var(--cinza-escuro);
                padding: 0;
              }
              header .main-menu .nav-right .search form .search-bar input[type="submit"]{
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px 22px;
                border: none;
                outline: none;
                background: transparent;
                display: none;
                z-index: 1;
              }
              header .main-menu .nav-right .search form .search-bar .close-search-bar{
                position: absolute;
                top: -1px;
                left: -1px;
                background-color: #fff;
                color: var(--roxo);
                display: block;
                width: 16px;
                border-radius: 100%;
                border: 1px solid var(--roxo);
                line-height: 13px;
                text-align: center;
                padding: 0px 0px 1px;
                font-weight: 600;
                cursor: pointer;
                display: none;
              }
        header .main-menu .nav-right .usuario{
          font-size: 20px;
        }
          header .main-menu .nav-right .usuario .icon-usuario{
            padding: 0;
            margin: 0;
            background-color: transparent;
          }
        header .main-menu .nav-right .carrinho{
          padding-right: 15px;
        }
          header .main-menu .nav-right .carrinho .icon-carrinho{
            padding: 0;
            margin: 0;
            background-color: transparent;
          }
        header .main-menu .nav-right .preco{
          position: relative;
          padding: 6px 0 10px 15px;
        }
        header .main-menu .nav-right .preco::before{
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          width: 1px;
          height: 100%;
          background-color: #fff;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
          header .main-menu .nav-right .preco span{
            text-transform: uppercase;
            font-size: 8px;
            display: block;
            text-align: left;
          }
          header .main-menu .nav-right .preco p{
            margin: 0;
            font-size: 21px;
            font-weight: bold;
            line-height: 17px;
          }

/* FOOTER */
  footer{

  }
    footer .infoMobile{
      display: none;
    }
    footer .rodape{
      background-color: var(--roxo);
      color: #fff;
      padding-top: 17px;
      padding: 17px 10px 0;
    }
      footer .rodape .info-footer{

      }
      footer .rodape .ajuda{
        padding-left: 80px;
      }
        footer .rodape .info-footer .titulo{
          color: #fff;
          margin: 0 auto 7px;
          font-size: 26px;
          text-align: left;
        }
        footer .rodape .info-footer p{
          margin: 0;
          font-size: 20px;
          font-weight: bold;
          position: relative;
          padding-left: 30px;
        }
        footer .rodape .info-footer p::before{
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 25px;
          height: 25px;
          background-size: cover;
          background-repeat: no-repeat;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        footer .rodape .info-footer .fone{

        }
        footer .rodape .info-footer .fone::before{
          background-image: url(../img/phone.svg);
          width: 24px;
          height: 24px;
        }
        footer .rodape .info-footer .whatsapp{

        }
        footer .rodape .info-footer .whatsapp::before{
          background-image: url(../img/whatsapp.svg);
        }
        footer .rodape .info-footer .horario-atendimento{
          font-size: 12px;
          padding-right: 145px;
          display: inline-block;
          padding-top: 7px;
        }
        footer .rodape .info-footer .rede-social{
          margin: 20px auto 40px;
        }
          footer .rodape .info-footer .rede-social .li-rede-social{
            display: inline-block;
          }
            footer .rodape .info-footer .rede-social .li-rede-social a{
              color: #fff;
              border: 1px solid #fff;
              border-radius: 100%;
              /* padding: 8px 10px 6px; */
              font-size: 20px;
              margin-right: 3px;
              width: 38px;
              height: 38px;
              display: block;
              text-align: center;
              line-height: 38px;
            }
          footer .rodape .info-footer .rede-social .facebook{

          }
            footer .rodape .info-footer .rede-social .facebook a{
              /*padding: 7px 12px 6px;*/
            }
          footer .rodape .info-footer .rede-social .twitter{

          }
            footer .rodape .info-footer .rede-social .twitter a{
              /*padding: 7px 8px 6px;*/
            }
        footer .rodape .info-footer .info{
          line-height: 10px;
          margin: 0px auto 22px;
        }
          footer .rodape .info-footer .info .endereco{
            font-size: 9px;
            text-transform: uppercase;
            display: inline-block;
            font-weight: bold;
            letter-spacing: .001px;
          }
        footer .rodape .info-footer .nav-footer{

        }
          footer .rodape .info-footer .nav-footer .item-nav-footer{
            display: block;
            color: #fff;
            padding-left: 20px;
            font-family: helvetica;
            line-height: 30px;
            font-size: 15px;
            position: relative;
          }
          footer .rodape .info-footer .nav-footer .item-nav-footer::before{
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 18px;
            height: 18px;
            background-image: url(../img/angle-right.svg);
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
      footer .rodape .facebook{

      }
    footer .formas-pagamento{
      background-color: var(--laranja);
      padding: 18px 0;
    }
      footer .formas-pagamento .info-footer{
        display: inline-block;
        vertical-align: top;
        width: 100%;
      }
        footer .formas-pagamento .info-footer .titulo{
          margin: 0;
          color: #fff;
          font-size: 26px;
          text-align: left;
        }
        footer .formas-pagamento .info-footer .ul-formas{
          width: 100%;
          max-width: 51%;
          font-size: 0;
          margin: 8px auto 0 0;
        }
          footer .formas-pagamento .info-footer .ul-formas .li-formas{
            display: inline-block;
            max-width: 52px;
            width: 100%;
          }
          footer .formas-pagamento .info-footer .ul-formas .pagseguro{
            max-width: 90px;
          }
            footer .formas-pagamento .info-footer .ul-formas .pagseguro img{
              max-width: 100%;
            }
        footer .formas-pagamento .info-footer img{
          width: 100%;
          max-width: 44px;
        }
      footer .formas-pagamento .pagamento{
        max-width: 52%;
      }
      footer .formas-pagamento .certificado{
        max-width: 47%;
      }
        footer .formas-pagamento .certificado img{
          max-width: 130px;
          margin: 7px auto 0;
        }

/* COPYRIGHT */
  footer .copyright{

  }
    footer .copyright p{
      text-align: center;
      color: var(--cinza-letras);
      margin: 0;
      padding: 4px 0 6px;
      font-size: 12px;
      font-weight: bold;
    }

/* PG */
  /* PRODUTO */
  .pg{}
    ::-webkit-scrollbar              { width: 7px; }
    ::-webkit-scrollbar-button       { display: none; }
    ::-webkit-scrollbar-track        { /* 3 */ }
    ::-webkit-scrollbar-track-piece  { background-color: #6a346a; }
    ::-webkit-scrollbar-thumb        { background-color: #2e162d; }
    ::-webkit-scrollbar-corner       { /* 6 */ }
    ::-webkit-resizer                { /* 7 */ }
    .pg .lista-produtos{
      margin: 0 auto 20px;
    }
      .pg .lista-produtos .carrossel{
        width: 100%;
        max-width: 1282px;
        margin: 0 auto;
      }
        .pg .lista-produtos .item-produto{
          text-align: center;
          padding: 12px 12px;
          outline: none;
          display: block;
          margin: 0 auto;
        }
          .pg .lista-produtos .item-produto .produto{
            color: var(--roxo);
            display: block;
            box-shadow: 0 0 10px -3px #a5a5a5;
            -webkit-box-shadow: 0 0 10px -3px #a5a5a5;
            padding: 7px 0;
          }
            .pg .lista-produtos .item-produto .produto a{

            }
              .pg .lista-produtos .item-produto .produto a figure{
                height: 206px;
              }
                .pg .lista-produtos .item-produto .produto a figure .imagem-produto{
                  margin: 0 auto 15px;
                  width: 100%;
                  max-width: 240px;
                }
            .pg .lista-produtos .item-produto .produto .nome-produto{
              font-family: americanCapitain;
              font-size: 20px;
              margin: 2px auto;
            }
            .pg .lista-produtos .item-produto .produto .pagamento{
              display: block;
              font-size: 13px;
              line-height: 15px;
              margin: 2px auto;
            }
              .pg .lista-produtos .item-produto .produto .pagamento strong{
                font-weight: bold;
              }
            .pg .lista-produtos .item-produto .produto .btn-comprar{
              max-width: 135px;
              margin: 5px auto 0;
            }
              .pg .lista-produtos .item-produto .produto .btn-comprar .comprar{
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 17px;
                background-color: var(--roxo);
                border: 1px solid transparent;
                padding: 1px 22px;
                border-radius: 16px;
                outline: none;
              }
              .pg .lista-produtos .item-produto .produto .btn-comprar .comprar:hover{
                background-color: #fff;
                color: var(--roxo);
                border-color: var(--roxo);
              }
        .pg .deskTopHidden{
          display: none;
        }
  /* MAPA */
  .secao-mapa{
    
  }
    .secao-mapa .maps{
      font-size: 0;
    }
      .secao-mapa .maps iframe{
        width: 100%;
        height: 350px;
      }
  /* SETAS DO CARROSSEL */
  .setas-carrossel-categorias{

      }
        .setas-carrossel-categorias .setas{
          display: block;
          position: absolute;
          top: 50%;
          cursor: pointer;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
          .setas-carrossel-categorias .setas img{
            width: 100%;
            max-width: 40px;
          }
        .setas-carrossel-categorias .prev{
          left: 18px;
          bottom: 48px;
          top: initial;
        }
        .setas-carrossel-categorias .next{
          right: 18px;
          bottom: 48px;
          top: initial;
        }
        .setas-carrossel-categorias .prev4{
          left: -10px;
        }
        .setas-carrossel-categorias .next4{
          right: -10px;
        }
        .setas-carrossel-categorias .prev5{
          left: 67px;
        }
        .setas-carrossel-categorias .next5{
          right: 67px;
        }
  .setas-carrossel-produtos{

      }
        .setas-carrossel-produtos .setas{
          display: block;
          position: absolute;
          top: 50%;
          cursor: pointer;
          background-color: var(--roxo);
          transform: translateY(-50%);
          padding: 3px;
        }
          .setas-carrossel-produtos .setas img{
            width: 100%;
            max-width: 21px;
          }
        .setas-carrossel-produtos .prev2,
        .setas-carrossel-produtos .prev3{
          left: 3px;
        }
        .setas-carrossel-produtos .next2,
        .setas-carrossel-produtos .next3{
          right: 3px;
        }
  .titulo{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    color: var(--roxo);
    text-align: center;
  }
  .titulo-dois{
    text-align: center;
    font-family: americanCapitain;
    color: var(--roxo);
    font-size: 68px;
    margin: 0;
  }
  .titulo-institucional{
    font-size: 85px;
    position: relative;
    margin: 28px auto 0;
  }
  .titulo-institucional::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20%;
    height: 3px;
    display: inline-block;
    background-color: var(--cinza);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .background-laranja{
    background-color: var(--laranja);
  }
  .background-roxo{
    background-color: var(--roxo);
  }

/* EXTRAS */
.containerFull{
  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
}
.containerCategorias{
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}
header .main-menu .row {
  display: flex;
}
header .main-menu .col-md-2{
  text-align: left;
  background-color: #fff;
}
header .main-menu .col-md-7{
  background-color: var(--roxo);
}
header .main-menu .col-md-3{
  background-color: var(--roxo);
}


/* @MEDIA QUERY */
  @media(max-width: 1400px){
    .containerFull{
      max-width: 1280px;
    }
  }

  @media(max-width: 1350px){
    .carrossel-categorias .slick-next{
      right: 10px!important;
      z-index: 9;
    }
    .pg-inicial .slick-next{
      right: 10px!important;
      z-index: 9;
    }
    .pg-inicial .slick-prev{
      left: 10px!important;
      z-index: 9;
    }
    .carrossel-categorias .slick-prev{
      left: 10px!important;
      z-index: 9;
    }
    header .menu-topo{
      padding: 2px 10px 3px;
    }
    .pg-produto .secao-produto .info-produto .preco-produto .valor p{
      font-size: 40px;
    }
  }
  @media(max-width: 1100px){
    header .main-menu .nav-right .search form .search-bar.openSearch{
      width: 650px;
    }
    .pg-quem-somos .quem-somos .desc-sobre{
      padding: 20px;
    }
  }

  @media(max-width: 991px){
    .titulo-institucional {
      font-size: 70px;
    }
   
    header .main-menu .nav-right .carrinho{
      padding-right: 0;
    }
    header .main-menu .nav-right .search form .search-bar.openSearch{
      width: 450px;
    }
  }

  @media(max-width: 768px){
    .pg .deskTopHidden{
      display: block;
    }
    footer .rodape .ajuda{
      padding-left: 0;
      padding-top: 20px;
    }
    footer .formas-pagamento .info-footer .titulo{
      text-align: center;
      font-size: 20px;
    }
    footer .formas-pagamento .info-footer .ul-formas{
      max-width: 100%;
      text-align: center;
    }
    footer .formas-pagamento .pagamento,footer .formas-pagamento .certificado{
      max-width: 100%;
      padding-top: 10px;
    }
    footer .formas-pagamento .certificado img{
      display: block;
    }
    footer .formas-pagamento{
      padding:10px;
    }
    footer .infoMobile{
      display: block;
      padding-top: 17px;
    }
    footer .infoDeskTop{
      display: none;
    }
     header .main-menu .nav-right .preco{
      display: inline-block;
    }
    .pg-inicial .carrosselDestaque{
      display: none;
    }
    header .main-menu .nav-right .preco::before{
      left: -7px;
    }
    .pg-inicial .secao-categorias .categorias-destaque .li-categorias-destaque{
      display: block;
      width: 100%;
      max-width: 100%;
      vertical-align: top;
      padding: 0 5px;
      height: 200px;
    }
    .pg-inicial .secao-categorias .categorias-destaque .li-categorias-destaque a{
      min-height: 200px;
    }
    .menuOptionMobile{
      display: block;
    }
    header .main-menu .nav-right .search form .search-icon{
      position: absolute;
      right: 14px;
      top: 14px;
      color:#6f366e;
    }
    header .main-menu .nav-right .icons{
      padding:0;
      margin: 0 7px;
    }
    header .main-menu .nav-right .search {
      position: relative;
      width: 100%;
      margin: 0 0;
          padding: 10px 0;
    }
    .openaMenuMobileBtn{
      display: block!important;
    }
    header .main-menu .nav-right .search form .search-bar.openSearch{
      width: 100%;
      position: relative;
      top: 0;
      right: 0;
    }
    header .main-menu .nav-right .search form .search-bar input[type="submit"]{
      display: block;
    }
    header .main-menu .navbar .navbar-collapse .navbar-nav li a{
      padding: 16px 10px;
    }
    header .main-menu .nav-right{
      text-align: center;
      padding:10px;
    }
    header .menu-topo{
      display: none;
    }
    header .main-menu .col-md-3{
      display: none;
    }
    header .main-menu .col-md-2{
      width: 100%;
      text-align: center;
    }
    header .main-menu .navbar .navbar-collapse {
        position: absolute;
        display: block!important;
        height: 100vh!important;
        width: 80%;
        left: -100%;
        z-index: 99999;
        background: #6f366e;
        transition:All .5s ease;
        -webkit-transition:All .5s ease;
        -moz-transition:All .5s ease;
        -o-transition:All .5s ease;
    }
    header .main-menu .navbar .navbar-collapse.openMenuMobile{
      left: 0;
      transition:All .5s ease;
      -webkit-transition:All .5s ease;
      -moz-transition:All .5s ease;
      -o-transition:All .5s ease;
    }
    body.overlayBackground{
      overflow: hidden;
    }
    body.overlayBackground:before{
      content: "";
      display: block;
      width: 100%;
      top: 0;
      height: 100vh;
      background: #00000096;
      position: absolute;
      z-index: 999;
      transition:All 1s ease;
      -webkit-transition:All 1s ease;
      -moz-transition:All 1s ease;
      -o-transition:All 1s ease;

    }
    header .main-menu .navbar .navbar-collapse .navbar-nav li .nav-submenu .submenu .li-submenu{
      display: block;
      min-width: 145px;
      padding-left: 47px;
      background: #2e162d;
    }
    header .main-menu .navbar .navbar-collapse .navbar-nav>li:before{
      display: none!important;
    }
    header .main-menu .navbar .navbar-collapse .navbar-nav li .nav-submenu{
    position: initial;
    transform: none;
    }
    header .main-menu .navbar .navbar-collapse .navbar-nav{
      margin: 0;
      padding: 0;
      overflow-y: scroll;
      height: 728px;
     
    }
    header .main-menu .navbar .navbar-collapse .navbar-nav li{
       padding-left: 10px;
    }
    header .main-menu .nav-right .search form .search-bar input[type="text"]{
      padding: 10px 14px 10px 25px;
    }
    .pg-inicial .promocoes .item-promocao{
      border-right: none;
    }
    .pg-inicial .secao-marcas .marcas .carrossel-marcas .item-marca{
      border-right: none;
    }
    .setas-carrossel-categorias .prev5{
      left: 10px!important;
    }
    .setas-carrossel-categorias .next5{
      right: 10px!important;
    }
    .setas-carrossel-categorias .next4{
      right: 10px!important;
    }
    .setas-carrossel-categorias .prev4{
       left: 10px!important;
    }
    .pg-categorias .lista-produtos .produtos{
      padding: 0 10px;
    }
    .sm-hidden{
      display: none;
    }
    .pg .lista-produtos .item-produto .produto .btn-comprar .comprar{
      font-size: 15px;
    }

  }

  @media(max-width: 425px){
    .titulo-institucional {
      font-size: 56px;
    }
    .pg .lista-produtos .item-produto .produto a figure{
      height: initial;
    }
    .pg .lista-produtos .item-produto .produto .nome-produto{
      font-size: 17px;
      padding: 10px;
    }
    .titulo-dois{
      font-size: 33px!important;
      letter-spacing: 6px;
    }
    .pg-produto .relacionados .titulo-relacionados{
       font-size: 33px;
      letter-spacing: 6px;
    }
    .titulo{
       font-size: 22px;
    }
  }

  @media(max-width: 320px){}
